/* Full Screen Video : Start */
.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}
.fullscreen-bg.home-page-video {
    background: url('../images/home_video_bg.jpg') center center / cover no-repeat;
}
.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
        height: 300%;
        top: -100%;
    }
}

@media (max-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
        width: 300%;
        left: -100%;
    }
}

@media (max-width: 767px) {
    .fullscreen-bg {
        background: url('../images/home_video_bg.jpg') center center / cover no-repeat;
    }

    .fullscreen-bg__video {
        display: none;
    }
}
/* Full Screen Video : End */

/* COMMON CHANGES : START */
.border-colored, .border-colored-hover:hover {
    border-color: #d40118 !important;
}
.bg-colored, .bg-colored-hover:hover, .qdr-hover:before, 
.features-boxes .item .icon:hover, .features-boxes .item:hover .icon,
.qdr-hover-5:before {
    background-color: #d40118 !important;
}
#navigation.modern .columns ul li a:hover, 
#navigation.modern .columns ul li.active > a {
    color: #d40118 !important;
}
.gray6, .gray6-hover:hover, 
.image-boxes .item p, 
p.description,
.features-boxes .item .texts p {
    color: #333 !important;
}
.selet-list {
    width: 100%;
    padding: 10px;
    height: 55px;
    text-transform: uppercase;
    color: #8c8c8c;
}
.selet-list option:first-child {
    color: #8c8c8c;
}
.select-in-row {
    margin-top: 10px;
    margin-bottom: 10px;
}
.select-in-row .col-left {
    padding-right: 10px;
}
.select-in-row .col-right {
    padding-left: 10px;
}
.select-in-row select, .select-in-row input {
    margin: 0 !important;
}
h1.title {
    font-size: 35px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    text-transform: unset !important;
}
p a:not(.no-underline) {
    text-decoration: underline;
}
p {
    font-size: 14px !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.lg-btn {
    text-transform: uppercase;
    letter-spacing: .04rem;
}
.qdr-hover-3 span.qdr-details {
    line-height: 3.5;
}
/* COMMON CHANGES : END */

/* HOME PAGE : START */


/* Logo */
#navigation.modern .columns .logo a, 
#navigation.modern .columns .logo img {
    max-height: 65px;
    margin-top: 10px;
}
#navigation.modern.scrolled .columns .logo a, 
#navigation.modern.scrolled .columns .logo img {
    max-height: 45px;
    margin-top: 0px;
}

#home_page_body #features, #about_section, #about {
    background-color: rgb(255, 255, 255);
}

#contact h1, #contact p {
    color: #d8d8d8;
}

/* NAVIGATION */
#navigation.modern .columns ul li a, 
#navigation.modern .columns ul li button {
    font-size: 14px;
}
#navigation.modern.white-nav, 
#navigation.modern.white-nav.hover:not(.scrolled):hover {
    /* background: rgba(0,0,0,0.2); */
    background: -moz-linear-gradient(left,  rgba(30,87,153,0) 0%, rgba(0,0,0,0.2) 62%);
    background: -webkit-linear-gradient(left,  rgba(30,87,153,0) 0%,rgba(0,0,0,0.2) 62%);
    background: linear-gradient(to right,  rgba(30,87,153,0) 0%,rgba(0,0,0,0.2) 62%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#33000000',GradientType=1 );

}
#navigation.modern.white-nav.scrolled .columns .nav-menu>.nav>li>a, 
#navigation.modern.white-nav.scrolled .columns button, 
#navigation.modern.white-nav.scrolled .columns a, 
#navigation.modern.white-nav.scrolled .columns .nav-elements a {
    color: #d8d8d8;
}
#navigation.modern.white-nav.scrolled, 
#navigation.modern.white-nav.sticky, 
#navigation.modern.white-nav.box-shadow, #contact {
    background: -moz-linear-gradient(left,  rgba(30,87,153,0) 0%, rgba(0,0,0,0.8) 44%);
    background: -webkit-linear-gradient(left,  rgba(30,87,153,0) 0%,rgba(0,0,0,0.8) 44%);
    background: linear-gradient(to right,  rgba(30,87,153,0) 0%,rgba(0,0,0,0.8) 44%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#cc000000',GradientType=1 );

}
#navigation.modern.white-nav .columns a {
    color: #fff !important;
    letter-spacing: 0.02rem;
}
#navigation.modern .columns ul li a:hover, 
#navigation.modern .columns ul li.active > a {
    color: #fff !important;
    opacity: unset !important;
    text-shadow: 0px 0px 20px #630000, 0px 0px 20px #d00707;
}
#navigation.modern.white-nav.start-dark .columns ul.dropdown-menu li a, 
#navigation.modern.white-nav .columns .nav-menu ul.dropdown-menu li a {
    color: #4a4a4a !important;
}
#navigation.modern.white-nav.start-dark .columns ul.dropdown-menu li a:hover, 
#navigation.modern.white-nav .columns .nav-menu ul.dropdown-menu li a:hover {
    color: #999 !important;
    text-shadow: unset;
}

#navigation.modern .columns ul li a, 
#navigation.modern .columns ul li button {
    font-size: 16px;
}
#navigation.modern .columns .nav-menu ul.dropdown-menu li a {
    font-size: 15px;
}
#navigation.modern .columns ul.dropdown-menu {
    min-width: 250px;
}
/* Titles */
h2.title {
    padding: 0;
    margin: 0;
    font-size: 40px;
    color: #717171;
    font-family: 'Montserrat', sans-serif;
    text-transform: unset !important;
}

h3.title {
    padding: 0;
    margin: 0;
    font-size: 29px;
    color: #717171;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: unset !important;
}

h4.title {
    padding: 0;
    margin: 0;
    font-size: 23px;
    color: #717171;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: unset !important;
}

.image-boxes .item h3, #services .inner h3, .features-boxes .item .texts h3 {
    text-transform: unset;
    font-size: 18px !important;
    color: #333 !important;
    font-weight: 500;
}

.rev_slider .caption.x-large, .rev_slider .tp-caption.x-large {
    font-size: 3.2rem !important;
    font-weight: 800 !important;
}

.rev_slider .tp-caption.md {
    font-size: 1.6rem !important;
    font-weight: 600 !important;
}

.montserrat, .antonio {
    font-family: 'Montserrat', sans-serif;
}

/* Boxes */
.red-bg-circle-icon .border-colored1, .red-bg-circle-icon .border-colored1-hover:hover, .bgcolor-md-red {
    border-color: #d40118 !important;
    background-color: #d40118 !important;
}

.feature-box-row {
    width: 100%;
}

#diminish_manual .rotate-box {
    background: url('../images/blocks/home/diminish_manual.jpg') center center no-repeat;
}
#drive_productive .rotate-box {
    background: url('../images/blocks/home/drive_productive.webp') center center no-repeat;
}
#improve_roi .rotate-box {
    background: url('../images/blocks/home/roi.jpg') center center no-repeat;
}
#increase_customers .rotate-box {
    background: url('../images/blocks/home/customer_base.webp') center center no-repeat;
}

.rotate-box {
    background-size: cover;
}
#rotateboxes.about-section-1 .box-details h4 {
    letter-spacing: unset;
    text-transform: uppercase;
    margin-top: 85px;
    font-size: 1.2rem;
    font-weight: 600;
}
#rotateboxes.about-section-1 .box-details h4, 
#rotateboxes.about-section-1 .box-details h5
{
    text-shadow: 
    1px 1px 2px #000, 1px 1px 2px #000, 1px 1px 2px #000, 
    1px 1px 2px #000, 1px 1px 2px #000, 1px 1px 2px #000, 
    1px 1px 2px #000,1px 1px 2px #000, 1px 1px 2px #000, 
    1px 1px 2px #000, 1px 1px 2px #000, 1px 1px 2px #000, 
    1px 1px 10px #000, 1px 1px 10px #000, 1px 1px 10px #000;
}
#rotateboxes.about-section-1 .back p {
    font-size: 1.2rem;
    text-align: left
}
.bg-colored2, .bg-colored2-hover:hover {
    background-color: rgba(0,0,0,0.8) !important;
}
#safe_comliant_accessed .slick-list {
    overflow: unset !important;
}
#services .qdr-callout {
    font-size: 1.1rem;
}
#services .vis-chart-fivekey {
    background-color: #000;
}
/* Home Slider */
.rev_slider li.tp-revslider-slidesli, .tp-bgimg.defaultimg  {
    background-image: unset !important;
    background-size: 0px 0px !important;
}
/* HOME PAGE : END */