body {
    font-family: 'Montserrat', sans-serif !important;
}
/* Full Screen Video : Start */
.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}
.fullscreen-bg.home-page-video {
    background: url('../images/home_video_bg.jpg') center center / cover no-repeat;
}
.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
        height: 300%;
        top: -100%;
    }
}

@media (max-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
        width: 300%;
        left: -100%;
    }
}

@media (max-width: 767px) {
    .fullscreen-bg {
        background: url('../images/home_video_bg.jpg') center center / cover no-repeat;
    }

    .fullscreen-bg__video {
        display: none;
    }
}
/* Full Screen Video : End */

/* COMMON CHANGES : START */
.color-777 {
    color: #777 !important;
}
.not-visible {
    visibility: hidden;
}
p, li {
    letter-spacing: 0.2px;
}
.mx-w-35 {
    width: 100%;
    max-width: 35px;
}
.cursor-text {
    cursor: text !important;
}
.ud-shadow-md {
    -webkit-box-shadow: 0px 0px 23px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 0px 23px rgba(0,0,0,0.05);
    box-shadow: 0px 0px 23px rgba(0,0,0,0.05);
}
#fmcsa .qdr-controls-2 .slick-dots {
    bottom: unset;
}
.border-tb-white {
    border: 1px solid #fff;
    border-left: 0;
    border-right: 0;
}
.border-colored, .border-colored-hover:hover, 
.border-colored, .border-colored-hover:hover, 
.circle-dots.dark-dots>.slick-dots li.slick-active button, .cbp-l-filters-button .cbp-filter-item.cbp-filter-item-active {
    border-color: #ff0019 !important;
}
.bg-colored, .bg-colored-hover:hover, .qdr-hover:before, 
.features-boxes .item .icon:hover, .features-boxes .item:hover .icon,
.qdr-hover-5:before, .bg-colored1, .slider-tab-red .qdr-controls-2 .slick-dots li button, .cbp-l-filters-button .cbp-filter-item.cbp-filter-item-active {
    background-color: #ff0019 !important;
}
#navigation.modern .columns ul li a:hover, 
#navigation.modern .columns ul li.active > a {
    color: #fff;
}
.gray6, .gray6-hover:hover, 
.image-boxes .item p, 
p.description,
.features-boxes .item .texts p, .gray-dark-p {
    color: #333 !important;
    line-height: 1.7;
}
.gray-6 {
    color: #999 !important;
}
.selet-list {
    width: 100%;
    padding: 10px;
    height: 55px;
    text-transform: uppercase;
    color: #8c8c8c;
    border: 1px solid #ececec;
    background-color: #fafafa;
}
.selet-list option:first-child {
    color: #8c8c8c;
}
.select-in-row {
    margin-top: 10px;
    margin-bottom: 10px;
}
.select-in-row .col-left {
    padding-right: 10px;
}
.select-in-row .col-right {
    padding-left: 10px;
}
.select-in-row select, .select-in-row input {
    margin: 0 !important;
}
h1.title {
    font-size: 35px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    text-transform: unset !important;
}
.large-heading {
    font-size: 45px;
}
p a:not(.no-underline) {
    text-decoration: underline;
}
p, .divice-capability li {
    font-size: 14px !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.lg-btn {
    text-transform: uppercase;
    letter-spacing: .04rem;
}
.qdr-hover-3 span.qdr-details {
    line-height: 3.5;
}
.bg-color-red1 {
    background-color: #ff0019 !important;
}
.border-color-red1 {
    border-color: #ff0019 !important;
}
.t-color-red1 {
    color: #ff0019 !important;
}
#navigation.modern .columns ul li.action-btn-holder {
    padding-top: 19px !important;
    transition: all .5s;
    -webkit-transition: all .5s;
}
#navigation.modern .columns ul li.action-btn-holder a {
    font-weight: 500  !important;
}
.action-btn-red {
    padding: 0 !important;
    height: 30px !important;
    line-height: 1 !important;
    text-align: center !important;
    line-height: 2.1 !important;
    width: 120px;
    font-weight: 500 !important;
    font-size: 1rem !important;
}
.dotted-btm-bdr {
    border-bottom: 1px dotted #efefef;
}
/* COMMON CHANGES : END */

/* RIBBON : START */

.ribbon-container {
    position: absolute;
    top: -15px;
    right: -15px;
    overflow: visible;
    /* so we can see the pseudo-elements we're going to add to the anchor */
    
    font-size: 18px;
    /* font-size and line-height must be equal so we can account for the height of the banner */
    
    line-height: 18px;
  }
  
  /*.ribbon-container:before {
     content: "";
    height: 0;
    width: 0;
    display: block;
    position: absolute;
    top: 3px;
    left: 0;
    border-top: 16px solid rgba(0, 0, 0, .3); 
    These 4 border properties create the first part of our drop-shadow
    
    border-bottom: 29px solid rgba(0, 0, 0, .3);
    border-right: 29px solid rgba(0, 0, 0, .3);
    border-left: 29px solid transparent;
  } */
  
  /* .ribbon-container:after {
    This adds the second part of our dropshadow
    
    content: "";
    height: 3px;
    background: rgba(0, 0, 0, .3);
    display: block;
    position: absolute;
    bottom: -3px;
    left: 58px;
    right: 3px;
  }*/
  
  .ribbon-container a {
    display: block;
    padding: 6px 13px 13px 13px;
    position: relative;
    /* allows us to position our pseudo-elements properly */
    background: #f00404;
    overflow: visible;
    height: 29px;
    margin-left: 29px;
    color: #fff;
    text-decoration: none;
  }
  
  .ribbon-container a:after {
    /* this creates the "folded" part of our ribbon */
    
    content: "";
    height: 0;
    width: 0;
    display: block;
    position: absolute;
    bottom: -15px;
    right: 0;
    border-top: 15px solid #b10101;
    border-right: 15px solid transparent;
  }
  
  .ribbon-container a:before {
    /* this creates the "forked" part of our ribbon */
    
    content: "";
    height: 0;
    width: 0;
    display: block;
    position: absolute;
    top: 0;
    left: -15px;
    border-top: 15px solid #f00404;
    border-bottom: 14px solid #f00404;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
  }

/* RIBBON : END */

/* HOME PAGE : START */
#home_slider .tparrows {
    display: none !important;
}
#home_slider li {
    z-index: -1;
}

.home-vido-text {
    background: rgba(0,0,0,0.5);
    line-height: 1.2 !important;
    padding: 10px;
    border-left: 5px solid #ff0019;
    width: 470px;
    height: 120px;
    display: block;
    padding-top: 30px;
    padding-left: 20px;
    font-size: 1.5rem;
    z-index: 2;
    margin: 250px 0 0 30px;
}

@keyframes flickerAnimation {
    0%   { opacity:1; }
    100%  { opacity:0; }
  }
 
.animate-flicker {
    -webkit-animation: flickerAnimation 60s infinite;
    -moz-animation: flickerAnimation 60s infinite;
    -o-animation: flickerAnimation 60s infinite;
    animation: flickerAnimation 60s infinite;
    animation-delay: 60s;
}

/* Logo */
#navigation.modern .columns .logo a, 
#navigation.modern .columns .logo img {
    max-height: 90px;
    margin-top: 30px;
}
#navigation.modern.scrolled .columns .logo a, 
#navigation.modern.scrolled .columns .logo img {
    max-height: 45px;
    margin-top: 0px;
}

#home_page_body #features, #about_section, #about {
    background-color: rgb(255, 255, 255);
}

/* contact */
#contact h1, #contact p {
    color: #d8d8d8;
}

#contact.top-text {
    padding-top: 50px;
    padding-bottom: 50px;
}

#contact.top-text h6 {
    padding-bottom: 30px;
}
::placeholder { 
    color: #999;
    opacity: 1; 
}
:-ms-input-placeholder { 
    color: #999;
}
::-ms-input-placeholder { 
    color: #999;
}
/* contact */

#slider_home_page {
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.5) 0%, rgba(6,8,11,0.5) 1%, rgba(125,185,232,0) 22%);
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(6,8,11,0.5) 1%,rgba(125,185,232,0) 22%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0.5) 0%,rgba(6,8,11,0.5) 1%,rgba(125,185,232,0) 22%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#007db9e8',GradientType=0 );
}

/* NAVIGATION */
#navigation.modern .columns ul li a, 
#navigation.modern .columns ul li button {
    font-size: 14px;
}
#navigation.modern.white-nav, 
#navigation.modern.white-nav.hover:not(.scrolled):hover,
#navigation.modern.white-nav.hover:not(.scrolled):hover {
    background: unset;
}
#navigation.modern.white-nav.scrolled .columns .nav-menu>.nav>li>a, 
#navigation.modern.white-nav.scrolled .columns button, 
#navigation.modern.white-nav.scrolled .columns a, 
#navigation.modern.white-nav.scrolled .columns .nav-elements a {
    color: #000;
}
#navigation.modern.white-nav .columns a {
    color: #fff;
    letter-spacing: 0.02rem;
    text-transform: uppercase;
    font-weight: 300;
}
#navigation.modern.white-nav.scrolled, 
#navigation.modern.white-nav.sticky, 
#navigation.modern.white-nav.box-shadow {
    background: #fff;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .1) !important;
}
#navigation.modern .columns ul li a:hover, 
#navigation.modern .columns ul li.active > a {
    opacity: unset !important;
}
#navigation.modern.white-nav.start-dark .columns ul.dropdown-menu li a, 
#navigation.modern.white-nav .columns .nav-menu ul.dropdown-menu li a {
    color: #4a4a4a;
}
#navigation.modern.white-nav .columns a:hover {
    color: #e4e4e4 !important;
}
#navigation.modern.white-nav.scrolled .columns a:hover {
    color: #4a4a4a !important;
}
#navigation.modern.white-nav.start-dark .columns ul.dropdown-menu li a:hover, 
#navigation.modern.white-nav .columns .nav-menu ul.dropdown-menu li a:hover,
#navigation.modern.white-nav .columns .nav-menu ul.dropdown-menu li.active a {
    color: #999 !important;
    text-shadow: unset;
}

#navigation.modern .columns ul li a, 
#navigation.modern .columns ul li button {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400 !important;
}
#navigation.modern .columns .nav-menu ul.dropdown-menu li a {
    font-size: 15px;
}
#navigation.modern .columns ul.dropdown-menu {
    min-width: 250px;
}
#navigation.modern.scrolled {
    height: 70px;
    line-height: 70px;
}
#navigation.modern.scrolled .columns .logo a, #navigation.modern.scrolled .columns .logo img  { 
    padding: 0;
    margin: 0;
    max-width: unset !important;
    max-height: 55px !important;
    margin-top: -6px !important;
}
/* Titles */
h2.title {
    padding: 0;
    margin: 0;
    font-size: 45px;
    color: #717171;
    font-family: 'Montserrat', sans-serif;
    text-transform: unset !important;
}
h2.title-thin {
    color: #000 !important;
    font-weight: 100 !important;
    font-family: 'Montserrat', sans-serif;
    text-transform: unset !important;
    font-size: 56px;
}
h2.title-1 {
    padding: 0;
    margin: 0;
    font-size: 30px;
    color: #999999;
    font-family: 'Montserrat', sans-serif;
    text-transform: unset !important;
    font-weight: 400;
}
h3.title {
    padding: 0;
    margin: 0;
    font-size: 26px;
    color: #717171;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: unset !important;
}
h3.title-1 {
    padding: 0;
    margin: 0;
    font-size: 17px;
    color: #999999;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: unset !important;
}
h4.title {
    padding: 0;
    margin: 0;
    font-size: 23px;
    color: #717171;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: unset !important;
}
h5.title {
    padding: 0;
    margin: 0;
    font-size: 18px;
    color: #333 !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-transform: unset !important;
}

h5.title.bottomline {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    display: inline-block;
}

h6.sub-text {
    color: #000 !important;
    font-weight: 400 !important;
    font-family: 'Montserrat', sans-serif;
    text-transform: unset !important;
    font-size: 25px;
}

.image-boxes .item h3, #services .inner h3, .features-boxes .item .texts h3, .grid-text-boxes h3 {
    text-transform: unset;
    font-size: 18px !important;
    color: #333 !important;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.rev_slider .caption.x-large, .rev_slider .tp-caption.x-large {
    font-size: 3.2rem !important;
    font-weight: 800 !important;
}

.rev_slider .tp-caption.md {
    font-size: 1.6rem !important;
    font-weight: 600 !important;
}

.montserrat, .antonio {
    font-family: 'Montserrat', sans-serif;
}

/* Boxes */
.red-bg-circle-icon .border-colored1, .red-bg-circle-icon .border-colored1-hover:hover, .bgcolor-md-red {
    border-color: #ff0019 !important;
    background-color: #ff0019 !important;
}

.circle-dots.dark-dots>.slick-dots li button {
    background-color: #dedcdc;
}

.feature-box-row {
    width: 100%;
}

#diminish_manual .rotate-box {
    background: url('../images/blocks/home/diminish_manual.jpg') center center no-repeat;
}
#drive_productive .rotate-box {
    background: url('../images/blocks/home/drive_productive.webp') center center no-repeat;
}
#improve_roi .rotate-box {
    background: url('../images/blocks/home/roi.jpg') center center no-repeat;
}
#increase_customers .rotate-box {
    background: url('../images/blocks/home/customer_base.webp') center center no-repeat;
}

.rotate-box {
    background-size: cover;
}
#rotateboxes.about-section-1 .box-details h4 {
    letter-spacing: unset;
    text-transform: uppercase;
    margin-top: 140px;
    font-size: 1.6rem;
    font-weight: 400;
}
#rotateboxes.about-section-1 .back p {
    font-size: 1.2rem;
    text-align: left
}
.bg-colored2, .bg-colored2-hover:hover {
    background-color: rgba(0,0,0,0.8) !important;
}
#safe_comliant_accessed .slick-list {
    overflow: unset !important;
}
#services .qdr-callout {
    font-size: 1.1rem;
}
#services .vis-chart-fivekey {
    background-color: #000;
}
/* Home Slider */
.rev_slider li.tp-revslider-slidesli, .tp-bgimg.defaultimg  {
    background-image: unset !important;
    background-size: 0px 0px !important;
}
/* HOME PAGE : END */

/* WHY TXT : START */
.divice-capability ul.list-icons li {
    margin-bottom: 5px;
}
/* WHY TXT : END */

/* PRICING : START */
#device_prices h2 {
    display: inline-block;
}
#device_prices .dotted-boxs {
    max-width: 23% !important;
    margin: 7px !important;
}
#device_prices .dotted-boxs .boxs {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
@media (max-width: 994px) {
    #device_prices {
        padding: 40px;
    }
}

/* PRICING : END */

/* TESTIMONAL : START */

.testimonial .circle-dots .slick-dots li button, .large-dots .circle-dots .slick-dots li button {
   width: 15px;
   height: 15px;
}
.circle-dots .slick-dots li.slick-active button, .large-dots .circle-dots .slick-dots li button {
    top: 0;
}
.testimonial .circle.bg-colored, 
.testimonial .circle.bg-colored-hover:hover, 
.testimonial .qdr-hover:before {
    overflow: hidden;
    background-color: unset !important;
}
.testimonial .circle.bg-colored img {
    width: 100px;
    height: 100px;
    position: relative;
    z-index: -1;
}
.testimonial .slide-box .photo-holder {
    max-width: 130px;
}
.testimonial .designation {
    font-size: 1rem;
}
.lowercase {
    text-transform: capitalize !important;
}
/* TESTIMONAL : END */

/* INNER PAGES STYLE CHANGE */
.inner-page #navigation.modern .columns .logo a, 
.inner-page #navigation.modern .columns .logo img {
    padding: 0;
    margin: 0;
    max-width: unset;
    max-height: 55px;
    margin-top: -6px !important;
}
.inner-page #navigation.modern.white-nav, 
.inner-page #navigation.modern.white-nav.sticky, 
.inner-page #navigation.modern.white-nav.box-shadow, .inner-page #navigation.modern.scrolled {
    background: #fff !important;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .1) !important;
    height: 70px;
    line-height: 70px;
    will-change: transform;
}
.inner-page #navigation.modern.white-nav ul li a {
    color: #000;
}
.inner-page #navigation.modern.white-nav ul li.active a, .inner-page #navigation.modern.white-nav ul li a:hover {
    color: #4a4a4a !important;
}

/* ELD */
.eld-benifits .tick-icon {
    width: 55px;
    height: auto;
    margin-right: 15px
}
.float-list-num.list.list-side > li {
    display: block;
}
#fmcsa .list.list-side li .icon, .float-list-num  li .icon {
    width: 22px;
    height: 22px;
    background: #e8e8e8;
    line-height: 22px;
    top: -1px;
    margin-right: 7px;
    position: relative;
    font-size: 10px;
    border-radius: 100%;
}

#fmcsa .qdr-controls .slick-arrow, 
#fmcsa .qdr-controls-2 .slick-arrow {
    background-color: rgba(0,0,0,.1);
}

.slider-tab-red .qdr-controls-2 .slick-dots li.slick-active button, 
.slider-tab-red .qdr-controls-2 .slick-dots li button {
    width: 70px !important;
    min-width: 70px !important;
    height: 4px !important;
}
.slider-tab-red .qdr-controls-2 .slick-dots li:not(.slick-active) button {
    background-color: gray !important;
}
#attributes .boxes h4 {
    line-height: 2.4;
}

/* GPS TRACKING : START */
.rotate-boxs-gps .row > div, .rotate-boxs-partner .row > div {
    padding: 0;
    margin: 0;
}
.rotate-boxs-gps #diminish_manual .rotate-box {
    background: url('../images/blocks/gps/image_1.jpg') center center;
}
.rotate-boxs-gps #drive_productive .rotate-box {
    background: url('../images/blocks/gps/image_2.jpg') center center;
}
.rotate-boxs-gps #improve_roi .rotate-box {
    background: url('../images/blocks/gps/image_3.jpg') center center;
}
.rotate-boxs-gps #increase_customers .rotate-box {
    background: url('../images/blocks/gps/image_4.jpg') center center;
}
.rotate-boxs-gps .rotate-box {
    height: 500px; 
}
/* GPS TRACKING : END */

/* APPLICATION : START */

.rotate-boxs-large .rotate-box .front .box-details h4 {
    font-size: 1.8rem !important;
    text-transform: unset !important;
}
/* APPLICATION : END */

/* PARTNER : START */
.rotate-boxs-partner #diminish_manual .rotate-box {
    background: url('../images/blocks/partner/image_1.jpg') center center;
}
.rotate-boxs-partner #drive_productive .rotate-box {
    background: url('../images/blocks/partner/image_2.jpg') center center;
}
.rotate-boxs-partner #improve_roi .rotate-box {
    background: url('../images/blocks/partner/image_3.jpg') center center;
}
.rotate-boxs-partner #increase_customers .rotate-box {
    background: url('../images/blocks/partner/image_4.jpg') center center;
}
.rotate-boxs-partner .rotate-box {
    height: 500px; 
}
/* PARTNER : END */

/* FAQ : START */
.faq-block .cbp-l-caption-body a {
    text-decoration: underline;
}
.cbp-caption-expand .cbp-caption-defaultWrap {
    color: #333;
}
.cbp-caption-expand .cbp-l-caption-body {
    color: #333;
    line-height: 1.7;
}
.faq-block .cbp-l-caption-body ul {
    margin: 10px 0 0 20px;
}
.faq-block .cbp-l-caption-body ul li {
    list-style-type: disc;
}
/* FAQ : END */

/* Solutions : Start */
.rotate-boxs-medium .rotate-box {
    height: 260px;
}
#rotateboxes.about-section-1.rotate-boxs-medium .box-details h4 {
    margin-top: 60px;
    text-transform: capitalize;
    font-weight: 100;
}
#gal-01 .rotate-box {
    background: url('../images/solutions/image_1.png') top left / 100% auto no-repeat;
}
#gal-02 .rotate-box {
    background: url('../images/solutions/image_2.png') top left / 100% auto no-repeat;
}
#gal-03 .rotate-box {
    background: url('../images/solutions/image_3.png') top left / 100% auto no-repeat;
}
#gal-04 .rotate-box {
    background: url('../images/solutions/image_4.png') top left / 100% auto no-repeat;
}
#gal-05 .rotate-box {
    background: url('../images/solutions/image_5.png') top left / 100% auto no-repeat;
}
#gal-06 .rotate-box {
    background: url('../images/solutions/image_6.png') top left / 100% auto no-repeat;
}
#gal-07 .rotate-box {
    background: url('../images/solutions/image_7.png') top left / 100% auto no-repeat;
}
#gal-08 .rotate-box {
    background: url('../images/solutions/image_8.png') top left / 100% auto no-repeat;
}
#gal-09 .rotate-box {
    background: url('../images/solutions/image_9.png') top left / 100% auto no-repeat;
}
#gal-10 .rotate-box {
    background: url('../images/solutions/image_10.png') top left / 100% auto no-repeat;
}
/* Solutions : End */

/* FOOTER , TOLL FREE */
#footer .container {
    position: relative;
}
.corner-box-red {
    border-top: 30px solid #ff0019 !important;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    height: 0;
    right: 0;
    top: 0;
    width: 430px;
    position: absolute;
}
#footer .toll-free-nu.corner-box-red h6 {
    top: -26px;
    left: 12px;
    position: absolute;
    color: #fff;
    font-size: 17px;
}
.gray-border-tooltip .hotspots .popover {
    background: rgba(0,0,0,0.8);
    border: 5px solid gray;
    font-size: 18px;
    padding: 15px;
}
#footer.classic_footer .footer-body {
    padding-bottom: 20px !important;
}